.nav-side {
    width: 30%;
    float: left;
}

.nav-side ul {
    list-style: none;
}

.nav-side li {
    overflow: auto;
    padding: 10px;
    margin: 10px;
    border: 1px solid black
}

.active {
    background: red;
}