.nav-side {
  width: 30%;
  float: left;
}

.nav-side ul {
  list-style: none;
}

.nav-side li {
  overflow: auto;
  margin: 10px;
}

.Nav__folder-link {
  border: 1px black solid;
  margin: 0 0 0 10px;
  padding: 10px;
  display: block;
}

.active {
  background: red;
}

.folder-count {
  width: 10px;
  text-align: right;
  padding-right: 5px;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
  bottom: 20px;
  float: right;
}
